extends ../layout/base

block content
  h1 Copyright and Attributions

  h2 The Selenium Documentation

  Copyright &copy; 2013-2014, Software Freedom Conservancy.

  p.
    Every effort has been made to make this documentation as complete and
    as accurate as possible, but no warranty or fitness is implied.  The
    information provided is on as “as-is” basis.  The authors and the
    publisher shall have neither liability nor responsibility to any
    person or entity with respect to any loss or damages arising from the
    information contained in this book.  No patent liability is assumed
    with respect to the use of the information contained herein.

  h2 Attributions

  p Contributors:

  include:markdown ../../dist/AUTHORS.md

  h2 HTML Version and Source Code

  p.
    An HTML version of this documentation is freely available from
    a(href='http://seleniumhq.org/docs/') http://seleniumhq.org/docs/.

  p.
    The source code for the examples inlucded and for the book itself is available
    from the central Selenium repository at https://code.google.com/p/selenium/.
    See instructions on how to check out the code via git at
    a(href='https://code.google.com/p/selenium/source/checkout').
      https://code.google.com/p/selenium/source/checkout.


  h2 License

  p.
    All code and documentation originating from the Selenium project is
    licensed under the Apache 2.0 license, with the
    a(href='http://sfconservancy.org/') Software Freedom Conservancy
    as the copyright holder.

  p.
    The license is included here for convenience, but you can also find it on the
    a(href='http://www.apache.org/licenses/LICENSE-2.0.html') Apache Foundation's websites

  include ../../COPYING.txt
